@media screen and (min-width: 640px){
  .hero__title {
    font-size: 50px;
  }
  .hero__subtitle {
    font-size: 25px;
  }
  .row {
		display: grid;
		grid-template-columns: 1fr 1fr;
    grid-row-gap: 12px;
	}
}

@media screen and (max-width: 639px){
  .hero__title {
    font-size: 36px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 740px) {
  .content .information {
    flex-direction: column;
    font-size: 20px;
  }
  .content .information .content-description p {
    font-size: 20px;
  }
  .content .information .content-description .title {
    font-size: 25px;
  }
  .content-wisata .list {
    flex-direction: column;
    align-items: center;
  }
  main .content .content-wisata {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 754px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .bar-nav {
    position: static;
    width: 100%;
  }

  .app-bar .bar-nav ul li {
    display: inline-block;
  }

  .app-bar .bar-nav ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  main .content {
    flex-direction: column;
    gap: 2rem;
  }
  section {
    padding: 1em;
  }
}

@media screen and (min-width: 863px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  .hero__title {
    font-size: 60px;
  }
  .hero__subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 850px) {
  main {
    padding: 1rem 1rem;
  }

  .hero__title {
    font-size: 55px;
  }

  .hero__subtitle {
    font-size: 25px;
  }

  main .content .information .content-description {
    flex: 1 1 1;
  }

  main .content .information .content-description .title {
    font-size: 15px;
    margin-block: 1rem;
  }

  main .content .information .content-description p {
    line-height: 1rem;
    font-size: 10px;
  }

  main .content .information .content-image {
    flex: 1 1 1;
    display: flex;
  }

  main .content .information .content-image img {
    margin: auto;
    width: 50%;
  }
}
@media screen and (max-width: 992px){
  .detailDestination {
      flex-direction: column;
      text-align: center;
      align-items: center;
  
    }
  
    .detailDestination img {
      width: 70%;
    }
  
    .detailDestination .detailinfo {
      padding: 20px;
    }
}
@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 70px;
  }
  .hero__subtitle {
    font-size: 35px;
  }
  .row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }

  main {
    max-width: 1200px;
  }
}
